html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --accent-color: #2196F3;
    --primary-color: #212121;
    --secondary-color: #757575;
    --dark-color: #2F303A;
    --primary-white: #FFFFFF;
    --icon-color: #AFB1B8;
}

body {
    font-family: 'Roboto';
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--primary-color);
}

img {
    display: block;
}

svg {
    padding: 0;
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--head-color);
}

a, button {
    cursor: pointer;
    margin: 0;
    padding: 0;
}

address {
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin-top: 0;
    margin-bottom: 0;
}

/* Utilities  */
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0px 15px;
    /* outline: 2px red solid; */
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.accent {
    color: var(--accent-color);
} 

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.current {
    color: var(--accent-color);
}



/* Components  */
.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #000000;
}


/* Header Section  */
header {
    border-bottom: 1px solid #ECECEC;
}

header a {
    display: flex;
    align-items: center;
    padding-bottom: 32px;
    padding-top: 32px;
}

header svg {
    fill: var(--secondary-color);
    width: 20;
    height: 20;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
}

header svg:hover,
header svg:focus {
    fill: var(--accent-color);
}

.header-wrapper {
    display: flex;
}

.header-logo {
    margin-right: 93px;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-nav__list {
    display: flex;
    gap: 50px;
}


.contacts-list{
    display: flex;
    gap: 50px;
    align-items: center;
    margin-left: auto;
}

.header-nav__link {
    font-weight: 500;
    line-height: 1.15;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
}

.contacts-list__link {
    font-weight: 500;
    line-height: 1.15;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
}

.shape-contact {
    margin-right: 10px;
}


.header-nav__link:hover,
.header-nav__link:focus,
.contacts-list__link:hover,
.contacts-list__link:focus{
    color: var(--accent-color);
}

.contacts-list__link:hover svg,
.contacts-list__link:focus svg {
    fill: var(--accent-color);
}

/* Hero Section  */
.hero-section {
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-img.jpg);
    max-width: 1600px;
    padding: 200px 0px;
    margin: auto;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white);
    margin: 0 auto;
    margin-bottom: 30px;
    width: 696px;
    height: 120px;
}

.hero-button {
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--primary-white);
    padding: 10px 32px;
    border: none;
    margin: 0 auto;
    display: block;
    transition-property: background;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
}

.hero-button:focus, .hero-button:hover {
    background: #188CE8;
}

/* Modal Section */
.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal-section {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);;
    width: 100%;
    height: 100%;
    z-index: 3;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
}

.modal__window {
    display: flex;
    justify-content: right;
    padding: 8px 8px;
    width: 528px;
    height: 581px;
    background: var(--primary-white);
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal__close{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-white);
    border: rgba(0, 0, 0, 0.1) 1px solid;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

/* Benefits Section  */
.benefits-list {
    display: flex;
    gap: 30px;
}

.benefits-icon__wrapper {
    width: 270px;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.benefits__title {
    font-weight: 700;
    line-height: 1.15;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.benefits__paragraph {
    line-height: 1.71;
    color: var(--secondary-color);
    width: 270px;
}

/* Profile Section  */

.profile {
    padding-top: 0px;
}

.profile img {
    display: block;
}

.profile__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 50px;
}

.profile__list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.profile__picture {
    position: relative;
    overflow: hidden;
}

.profile__picture>.upwards__title {
    position: absolute;
    bottom: 0;
    padding:27px 95px;
    margin: 0 auto;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.8);
    color: #fff;
    width: 370px;
    height: 70px;
}

/* Members section */

.members {
    background-color: #F5F4FA;
}

.members a {
    transition-property: fill, background, border-radius;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
}

.members__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
}

.members-list {
    display: flex;
    gap: 30px;
}

.members__container {
    padding: 30px 15px;
}

.members-list > li {
    background-color: white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.members-list__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    margin-bottom: 10px;
}

.members-list__paragraph {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--secondary-color);
}

.members-icon__list {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 16px;
}

.members-icon__list a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 44px;
    background: var(--primary-white);
    border-radius: 50%;
}

.members a:hover svg,
.members a:focus svg {
    fill: var(--primary-white);
}

.members-icon__list svg {
    width: 20px;
    height: 20px;
    fill: var(--icon-color);
}

.members-icon__list a:hover,
.members-icon__list a:focus {
    background: var(--accent-color);
    border-radius: 50%;
}

/* Footer Section  */

footer {
    background-color: var(--dark-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer a {
    transition-property: color, fill, background, border-radius;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
}

.footer-wrapper {
    display: flex;
    align-items: baseline;
}

.footer-logo {
    display: inline-block;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--primary-white);
    margin-bottom: 20px;
}

.footer-address {
    font-size: 14px;
    line-height: 1.71;
    color: var(--primary-white);
}

.footer-address a {
    display: block;
    margin-top: 9px;
}

.address-item {
    color: rgba(255, 255, 255, 0.6);
}


.address-item:hover, .address-item:focus {
    color: var(--primary-white);
}

.footer-join {
    margin-left: 70px;
}

.footer-join__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-white);
    margin-bottom: 20px;
}

.footer-join__list {
    display: flex;
    gap: 10px;
    justify-content: center;

}

.footer-join__list a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 44px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

.footer-join__list svg {
    fill: var(--primary-white);
    width: 20px;
    height: 20px;
}

.footer-join__list a:hover{
    background: var(--accent-color);
    border-radius: 50%;
}

.footer-join__list a:focus{
    fill: var(--primary-white);
    background: var(--accent-color);
    border-radius: 50%;
}


/* Options section */
.options__list {
    display: flex;
    justify-content: center;
    gap: 8px;
    padding-bottom: 0;
    margin-bottom: 50px;
}

.options__button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    min-width: 73px;
    height: 38px;
    background: #F5F4FA;
    border-radius: 4px;
    border: none;
    padding: 6px 22px;
    transition-property: color, background, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
}

.options__button:hover, .options__button:focus {
    color: var(--primary-white);
    background: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Partners section */
.partners a {
    position: relative;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
    overflow: hidden;
}

.partners a:hover .partners__overlay,
.partners a:focus .partners__overlay {
  transform: translatex(0);
}

.partners__overlay {
    position: absolute;
    top: 0;
    width: 370px;
    height: 294px;
    padding: 63px 24px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--primary-white);
    background-color: rgba(33, 150, 243, 0.9);
    z-index: 1;

    transform: translatey(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
}

.partners__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.partners__list a{
    display: block;
}

.partners__list a:hover,
.partners__list a:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.partners__container {
    position: relative;
    overflow: hidden;
    padding: 20px 24px;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    background: var(--primary-white);
    z-index: 2;
}

.partners__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.partners__paragraph {
    font-size: 16px;
    line-height: 1.88;
    color: var(--secondary-color);
}

/* Clients section */
.clients__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 50px;
}

.clients__list {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.clients__list a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
}

.clients svg {
    fill: var(--icon-color);
    width: 106px;
    height: 60px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;    
}

.clients__list a:hover,
.clients__list a:focus {
    border: 1px solid var(--accent-color);
}

.clients__list a:hover svg ,
.clients__list a:focus svg {
    fill: var(--accent-color);
}