footer {
    background-color: var(--dark-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer a {
    transition-property: background;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

.footer-wrapper {
    display: flex;
    align-items: baseline;
}

.footer-logo {
    display: inline-block;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--primary-white);
    margin-bottom: 20px;
}

.footer-address {
    font-size: 14px;
    line-height: 1.71;
    color: var(--primary-white);
}

.footer-address a {
    display: block;
    margin-top: 9px;
}

.address-item {
    color: rgba(255, 255, 255, 0.6);
}


.address-item:hover,
.address-item:focus {
    color: var(--primary-white);
}

.footer-join {
    margin-left: 70px;
}

.footer-join__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-white);
    margin-bottom: 20px;
}

.footer-join__list {
    display: flex;
    gap: 10px;
    justify-content: center;

}

.footer-join__list a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 44px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

.footer-join__list svg {
    fill: var(--primary-white);
    width: 20px;
    height: 20px;
}

.footer-join__list a:hover {
    background: var(--accent-color);
    border-radius: 50%;
}

.footer-join__list a:focus {
    fill: var(--primary-white);
    background: var(--accent-color);
    border-radius: 50%;
}

.footer__form {
    margin-left: auto;
}

.footer__form_wraper {
    display: flex;
}

.footer__form_title {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-white);
    margin-bottom: 20px;
}

.footer__input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.6);
    background-color: var(--background-color);
    padding-left: 16px;
    outline: none;
}

.footer__form_label ::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer__form_button {
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    width: 200px;
    height: 50px;

    color: var(--primary-white);
    background: var(--accent-color);

    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    padding: 10px 28px;
    margin-left: 12px;

    transition-property: background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__icon {
    margin-left: 10px;
}

.footer__form_button:focus,
.footer__form_button:hover {
    background: #188CE8;
}