.hero-section {
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-img.jpg);
    max-width: 1600px;
    padding: 200px 0px;
    margin: auto;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white);
    margin: 0 auto;
    margin-bottom: 30px;
    width: 696px;
    height: 120px;
}

.hero-button {
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--primary-white);
    padding: 10px 32px;
    border: none;
    margin: 0 auto;
    display: block;
    transition-property: background;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
        &:hover {
            background: #188CE8;
        }
}