.members {
    background-color: #F5F4FA;
}

.members a {
    transition-property: background;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

.members__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
}

.members-list {
    display: flex;
    gap: 30px;
}

.members__container {
    padding: 30px 15px;
}

.members-list>li {
    background-color: white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.members-list__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    margin-bottom: 10px;
}

.members-list__paragraph {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--secondary-color);
}

.members-icon__list {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 16px;
}

.members-icon__list a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 44px;
    background: var(--primary-white);
    border-radius: 50%;
}

.members a:hover svg,
.members a:focus svg {
    fill: var(--primary-white);
}

.members-icon__list svg {
    width: 20px;
    height: 20px;
    fill: var(--icon-color);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

.members-icon__list a:hover,
.members-icon__list a:focus {
    background: var(--accent-color);
    border-radius: 50%;
}