.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.backdrop {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    z-index: 3;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__window {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 40px;
    width: 528px;
    height: 581px;
    background: var(--primary-white);
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal__window {
    transform: scale(3);
}

.modal__close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1px;
    right: 1px;
    margin-left: 490px;
    margin-top: 8px;
    margin-right: 8px;
    background: var(--primary-white);
    border: rgba(0, 0, 0, 0.1) 1px solid;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close:hover,
.modal__close:focus {
    fill: var(--accent-color);
    cursor: pointer;
}

.modal__title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-color);
}



.modal__form {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--secondary-color);
}

.form__element {
    display: flex;
    flex-direction: column;
    width: 448px;
    margin-bottom: 10px;
}

.form__element input {
    height: 40px;
    margin-top: 4px;
    width: 448px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    padding-left: 40px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__element:hover,
.form__element:focus {
    fill: var(--accent-color);
}

.form__element input:hover,
.form__element input:focus {
    border: 1px solid var(--accent-color);
    cursor: pointer;
}

.input__wraper {
    position: relative;
}

.input__wraper svg {
    position: absolute;
    top: 50%;
    left: 15px;
    translate: 0 -50%;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__feedback {
    display: flex;
    flex-direction: column;
}

.form__feedback textarea {
    padding: 12px 16px;
    height: 120px;
    width: 448px;
    margin-top: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    color: rgba(117, 117, 117, 0.5);
    outline: none;
    resize: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__feedback textarea:hover,
.form__feedback textarea:focus {
    border: 1px solid var(--accent-color);
}

::placeholder {
    color: rgba(117, 117, 117, 0.5);
}

.form__checkbox {
    display: flex;
    justify-content: center;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--secondary-color);
    margin-top: 20px;
    margin-bottom: 30px;
}

.form__checkbox a {
    color: var(--accent-color);
    text-decoration: none;
    text-decoration-line: underline;
}

.checkbox {
    display: flex;
    justify-content: center;
    border: 2px solid var(--primary-color);
    width: 16px;
    height: 15px;
    border-radius: 3px;
    margin-right: 8px;
}

.form__checkbox label {
    display: flex;
    align-items: center;
}

.form__checkbox input:checked+label .checkbox {
    background-color: var(--accent-color);
    border: 2px solid var(--accent-color);
}

.checkbox:hover {
    border: 2px solid var(--accent-color);

    transition-property: background-color, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__checkbox input:focus+label .checkbox {
    border: 2px solid var(--accent-color);

    transition-property: background-color, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__button {
    width: 200px;
    height: 50px;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--primary-white);
    padding: 10px 32px;
    border: none;
    margin: 0 auto;
    display: block;
    margin-top: 30px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__button:hover,
.form__button:focus {
    background: #188CE8;
}