.partners a {
    position: relative;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;
}

.partners a:hover .partners__overlay,
.partners a:focus .partners__overlay {
    transform: translatex(0);
}

.partners__overlay {
    position: absolute;
    top: 0;
    width: 370px;
    height: 294px;
    padding: 63px 24px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--primary-white);
    background-color: rgba(33, 150, 243, 0.9);
    z-index: 1;

    transform: translatey(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

.partners__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.partners__list a {
    display: block;
}

.partners__list a:hover,
.partners__list a:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.partners__container {
    position: relative;
    overflow: hidden;
    padding: 20px 24px;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    background: var(--primary-white);
    z-index: 2;
}

.partners__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.partners__paragraph {
    font-size: 16px;
    line-height: 1.88;
    color: var(--secondary-color);
}