html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: $main-font;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--primary-color);
}

img {
    display: block;
}

svg {
    padding: 0;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--head-color);
}

a,
button {
    cursor: pointer;
    margin: 0;
    padding: 0;
}

address {
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0px 15px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.accent {
    color: var(--accent-color);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.current {
    position: relative;
    display: block;
    color: var(--accent-color);
}

.current::after {
    position: absolute;
    bottom: -8.5px;
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
}