:root {
    --accent-color: #2196F3;
    --primary-color: #212121;
    --secondary-color: #757575;
    --dark-color: #2F303A;
    --primary-white: #FFFFFF;
    --icon-color: #AFB1B8;
}

$main-font: "Roboto";
$secondary-font: "Raleway";